<div class="jumbotron opacidad">
<h1>Sobre el comic</h1>
<hr>
<br>
<p>
    En los comics de superheroes ya se podian observar sus motivaciones
    antifacistas mucho antes de que EEUU entrara en guerra en el año 1941. Las 
    dos compñias mas importantes del pais, dc comics y la que posteriormente se
    conceria como marvel comics, reconducirian sus tematicas y argumentos 
    habituales hacia la actualidad del momento. Sus personajes dejarian de lado su 
    lucha contra super villanos y mafiosos para combatir a nazis y japoneses.
    <br>
    Sirva como ejemplo, antes de la entrada de los EEUU en el conflicto, como la 
    marvel utilizaria a unos de sus personajes como abanderado del sentimiento
    anti-nazi: el capitan america. En sus origenes el capitan america era un 
    soldado del ejercito estadounidense que se ofrece voluntario para un programa 
    para converit super soldados. Tras ser sometido al tratamiento con exito el
    laboratorio sufre el ataque del villano conocido craneo rojo, el cual 
    vestia un uniforme con el simbolo nazi, convirtiendose en el archienemigo del
    capitan america. Simbolizando asi quien era en realidad la mayor amenaza 
</p>
</div>
<br>
<hr>
<br>
<div class="comics">
    <img src="../../assets/img/comics.jpg" clas="img-resposive" alt="">
</div>