<h1 class="jumbotron" style="text-align: center; opacity: 0.8;">MARVEL VS DC</h1>
<div class="embed-responsive embed-responsive-21by9 fm-video">
<iframe
 width="560"
 height="315"
 [src]="video | domseguro:'https://www.youtube.com/embed/' "
 frameborder="0"
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
 allowfullscreen
></iframe>
</div>
<br><hr><br>
<h1>PROXIMAMENTE</h1>
<br>
<table style="text-align: center;">
    <tr>
        <th>
            <a href="https://www.youtube.com/watch?v=ybji16u608U&ab_channel=MarvelEntertainment"><img src="./assets/img/black.jpg" alt="" style="height: 10rem;"></a>
        </th>
        <th>
            <a href="https://www.youtube.com/watch?v=KcBStos46EM&ab_channel=MarvelLatinoam%C3%A9ricaOficial"><img src="./assets/img/loki.jpg" alt="" style="height: 10rem;"></a>
        </th>
        <th>
            <a href="https://www.youtube.com/watch?v=UuhqbcMNrME&ab_channel=MarvelLatinoam%C3%A9ricaOficial"><img src="./assets/img/wanda.jpg" alt="" style="height: 10rem; width: 18rem;"></a>
        </th>
    </tr>
</table>
<br>
