<h1 style="text-align:center;">Mejores peliculas</h1>
<p style="text-align:center;">De acuerdo al portal de criticas IMBd las siguientes peliculas</p>
<table style=" text-align:center;background-color: aliceblue;">
    <tr>
      <th><img src="./assets/img/marvelbanner.jpeg" alt="" style="width: 45%; padding-top: 1pc;"></th>
      <th><img src="./assets/img/dcbanner.jpg" alt="" style="width: 35%; padding-top: 1pc;"></th>
    </tr>
    <tr style="text-align: justify;">
      <td>
         <hr>
          <h4 style="text-align: center;">#6 Ant-Man (2015)</h4> 
          <h5>Promedio: 80%</h5>
          <img src="./assets/img/antman.png" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>
             Liderada por una encantadora actuación de Paul Rudd, Ant-Man ofrece emociones al 
             estilo Marvel en una escala apropiadamente pequeña, 
             aunque no tan fluidamente como algunas de sus más exitosas predecesoras
          </p>
          <br>
          <h4 style="text-align: center;">#5 Capitán América: Soldado de Invierno (2014)</h4> 
          <h5>Promedio: 89%</h5>
          <img src="./assets/img/capitan.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>
             Intrigante y políticamente astuta, Capitán América: Soldado de Invierno es una entrega superior 
             en el canon de los Avengers y sin dudas generará gran entusiasmo en los más fanáticvos de Marvel
          </p>  
          <br>    
          <h4 style="text-align: center;">#4 Doctor Strange (2016)</h4> 
          <h5>Promedio: 90%</h5>
          <img src="./assets/img/doctor.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>Después de sufrir un accidente, un brillante y arrogante cirujano busca rehabilitarse mediante técnicas alternativas. Sus intentos le llevan a descubrir que ha sido designado para encabezar la lucha contra una fuerza oscura y sobrenatural.</p>
          <h4 style="text-align: center;">#3 Capitán América: Civil War (2016)</h4> 
          <h5>Promedio: 90%</h5>
          <img src="./assets/img/capitan.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>
             Capitán América: Civil War da inicio a la nueva fase de películas de Marvel 
             con un blockbuster de superhéroes cargado de acción, ostestando 
             un argumento decididamente para nada caricaturesco y el coraje de explorar temas complejos
          </p> 
          <br> 
          <h4 style="text-align: center;">#2 Guardianes de la galaxia (2014)</h4> 
          <h5>Promedio: 91%</h5>
          <img src="./assets/img/guardianes.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>
             Guardianes de la galaxia es tan irreverente como podían esperar los fanáticos de un cómic frecuentemente 
             extravagante y alocado, pero también divertida, emocionante, con corazón, 
             y envuelta en un gran esplendor visual
          </p> 
          <br>
          <h4 style="text-align: center;">#1 The Avengers: End Game</h4> 
          <h5>Promedio: 92%</h5>
          <img src="./assets/img/avengers.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
          <p>
             Gracias a un guión que enfatiza la humanidad de sus héroes y la abundancia de 
             superpoderes, The Avengers está a la altura de las enormes expectativas y sube 
             el listón para Marvel en sus películas
          </p> 
      </td>
      <td>
         <hr>
         <h4 style="text-align: center;">#6 Shazam! (2019)</h4> 
         <h5>Promedio: 90%</h5>
         <img src="./assets/img/shazam.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            Una mezcla sin esfuerzo de humor y corazón, Shazam! es una película de superhéroes 
            que nunca olvida el verdadero poder del género: la feliz realización de deseos.
         </p>
         <h4 style="text-align: center;">#5 ¡LOS TITANES ADOLESCENTES SE VAN! A LAS PELÍCULAS (2018)</h4> 
         <h5>Promedio: 91%</h5>
         <img src="./assets/img/TEEN.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            Los titanes adolescentes se van! To the Movies destila el atractivo perdurable de sus coloridos 
            personajes en una aventura encantadoramente desenfadada 
            cuyo humor loco alimenta su diversión infecciosa y desmiente un sorprendente nivel de inteligencia.
         </p>   
         <br>   
         <h4 style="text-align: center;">#4 Wonder Womn (2017)</h4> 
         <h5>Promedio: 93%</h5>
         <img src="./assets/img/wonder.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            Emocionante, seria y animada por la carismática actuación de Gal Gadot, 
            Wonder Woman tiene éxito de manera espectacular.
         </p> 
         <br>
         <h4 style="text-align: center;">#3 BATMAN: REGRESO DE LOS CRUZADOS ENCAPUCHADOS (2016)</h4> 
         <h5>Promedio: 94%</h5>
         <img src="./assets/img/batmanreg.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            La interpretación groovy de Adam West del Cruzado Encapuchado regresa en un nuevo medio, 
            apareciendo en el reino de la animación con la energía irascible de una onomatopeia 
            acentuada con exclamación.
         </p> 
         <br>
         <h4 style="text-align: center;">#2 SUPERMAN (1978)</h4> 
         <h5>Promedio: 95%</h5>
         <img src="./assets/img/super.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            Superman mezcla hábilmente el humor y la gravedad, aprovechando el reparto perfecto de Christopher Reeve 
            para elaborar un tributo amoroso y nostálgico a un icono de la cultura pop estadounidense.
         </p> 
         <br>
         <h4 style="text-align: center;">#1 EL CABALLERO OSCURO (2008)</h4> 
         <h5>Promedio: 95%</h5>
         <img src="./assets/img/batmann.jpg" alt="" style="height: 200px; width: 145px; margin-left: 170px;">
         <p>
            Oscuro, complejo e inolvidable, The Dark Knight tiene 
            éxito no sólo como una entretenida película de cómics, sino como una saga criminal ricamente emocionante.
         </p> 
         <br>
      </td>
    </tr>
  </table>
<br><br><br>