<div class="jumbotron jumbotron-fluid opacidad">
    <div class="container">
        <h1 class="display-3 centrar">Comic App</h1>
        <p class="lead centrar">Esta es una aplicacion de comics</p>
    </div>
</div>
<br><hr><br>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/img/marvel.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Marvel UCM</h5>
        <p class="card-text">El Universo cinematográfico de Marvel es una franquicia de medios y un universo compartido, centrada en una serie de películas de superhéroes producidas independientemente por Marvel Studios y basadas en los personajes que aparecen en las publicaciones de Marvel Comics.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/bannerdc.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DC COMICS</h5>
        <p class="card-text">El Universo extendido de DC es una franquicia mediática estadounidense y un universo compartido centrado en una serie de películas de superhéroes, basadas en personajes que aparecen en cómics estadounidenses de DC Comics, producidas por DC Films y distribuidas por Warner Bros. Pictures</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/bannertheboys.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">THE BOYS</h5>
        <p class="card-text">Cuando los superhéroes abusan de sus superpoderes en lugar de usarlos para el bien, The Boys se embarcan en una búsqueda heroica para exponer secretos.</p>
        <p class="card-text"><small class="text-muted" style="color: white;">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>